/* Ensure proper box-sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden; /* Ensure no content overflow */
}

.header, .subHeader {
  text-align: center;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 20px;
  width: 100%;
  max-width: 400px;
}

.search-button {
  padding: 8px 12px;
  background-color: #5c6bc0; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #3f51b5; 
}

.compare-button {
  padding: 8px 12px;
  background-color: #3f51b5; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.table-container {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scroll on small screens */
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader, .tableCell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.button-container button {
  padding: 8px 12px;
  background-color: #5c6bc0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 10px;
}

.button-container button:hover {
  background-color: #3f51b5; 
}

.view-button {
  padding: 8px 12px;
  background-color: #5c6bc0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.view-button:hover {
  background-color: #3f51b5 ; 
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.page-link {
  margin: 0 10px;
}

.page-info {
  margin: 0 10px;
}

.current-page {
  font-weight: bold;
}

.viewed-file-content {
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .search-container {
    justify-content: center;
  }

  .search-input, .search-button {
    width: 100%;
    max-width: none;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .pagination {
    flex-direction: column;
  }

  .button-container {
    flex-direction: column;
  }
}
