/* src/components/CreateUser.css */
.create-user {
  width: 75%;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  }

  .user-form {
    width: 50%;
    height: 100vh;
    box-shadow: 0px 0px 22px #00000026;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .create-user h2 {
    text-align: center;
  }
  
  .create-user .form-group {
    margin-bottom: 15px;
  }
  
  .create-user .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .create-user .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .create-user button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-user button:hover {
    background-color: #0056b3;
  }
  
  .message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .message.success {
    background-color: #d4edda;
    color: #155724;
  }
  
  .message.error {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  .create-rbac-bg {
    width: 50%;
    height: 99vh;
}

.create-rbac-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.create {
  display: flex;
}